<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_cfd1fc4e0701212ceccf4915b87fc4d4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_cfd1fc4e0701212ceccf4915b87fc4d4" ></div>
        
</body>
<script>    
    
            var map_cfd1fc4e0701212ceccf4915b87fc4d4 = L.map(
                "map_cfd1fc4e0701212ceccf4915b87fc4d4",
                {
                    center: [39.979781690909086, -75.16720473636363],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f67614a740c2264b57dbeb75f04243e5 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var marker_b823cfd582ef5a0de46f572d3c1c2eea = L.marker(
                [39.948081, -75.1608093],
                {}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var icon_a77ac3f27b4d536b3745f0cb7e8d4d77 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_b823cfd582ef5a0de46f572d3c1c2eea.setIcon(icon_a77ac3f27b4d536b3745f0cb7e8d4d77);
        
    
        var popup_d35c488c74c9fea69367ab4634fa90c0 = L.popup({"maxWidth": 300});

        
            var html_ec050c0312dcb24ccbd11f9c90b8dd9c = $(`<div id="html_ec050c0312dcb24ccbd11f9c90b8dd9c" style="width: 100.0%; height: 100.0%;"><a target="_blank" href="http://www.google.com/search?q=Philadelphia+J'aime+French+Bakery">J'aime French Bakery</a><br> Similarity: 0.97</div>`)[0];
            popup_d35c488c74c9fea69367ab4634fa90c0.setContent(html_ec050c0312dcb24ccbd11f9c90b8dd9c);
        

        marker_b823cfd582ef5a0de46f572d3c1c2eea.bindPopup(popup_d35c488c74c9fea69367ab4634fa90c0)
        ;

        
    
    
            var marker_6c156d5bc5a95c540a4b265ff5948072 = L.marker(
                [40.0419949, -75.2262331],
                {}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var icon_275670ecb268e3c658eb716f2e231078 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_6c156d5bc5a95c540a4b265ff5948072.setIcon(icon_275670ecb268e3c658eb716f2e231078);
        
    
        var popup_7eb88cb52f85c5f57ca9c5df3681f125 = L.popup({"maxWidth": 300});

        
            var html_27965113140a6aa0b29b41b4fbcafffa = $(`<div id="html_27965113140a6aa0b29b41b4fbcafffa" style="width: 100.0%; height: 100.0%;"><a target="_blank" href="http://www.google.com/search?q=Philadelphia+Pastore+Auto+Tags+&+Insurance">Pastore Auto Tags & Insurance</a><br> Similarity: 0.97</div>`)[0];
            popup_7eb88cb52f85c5f57ca9c5df3681f125.setContent(html_27965113140a6aa0b29b41b4fbcafffa);
        

        marker_6c156d5bc5a95c540a4b265ff5948072.bindPopup(popup_7eb88cb52f85c5f57ca9c5df3681f125)
        ;

        
    
    
            var marker_941094f0139f834b18cf8179cd939a4e = L.marker(
                [40.018238, -75.2115092],
                {}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var icon_8bfff5e6e330f0affa45bcb435cd83b0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_941094f0139f834b18cf8179cd939a4e.setIcon(icon_8bfff5e6e330f0affa45bcb435cd83b0);
        
    
        var popup_7c146715530d3711bd65bdc95fe6855a = L.popup({"maxWidth": 300});

        
            var html_02ff80cc50120ed10fede2e79cffa057 = $(`<div id="html_02ff80cc50120ed10fede2e79cffa057" style="width: 100.0%; height: 100.0%;"><a target="_blank" href="http://www.google.com/search?q=Philadelphia+A+Tutti,+Ristorante+Italiano">A Tutti, Ristorante Italiano</a><br> Similarity: 0.96</div>`)[0];
            popup_7c146715530d3711bd65bdc95fe6855a.setContent(html_02ff80cc50120ed10fede2e79cffa057);
        

        marker_941094f0139f834b18cf8179cd939a4e.bindPopup(popup_7c146715530d3711bd65bdc95fe6855a)
        ;

        
    
    
            var marker_d70a4731b6101d028aafc13796a0b1db = L.marker(
                [39.9389483, -75.1564078],
                {}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var icon_d02fb1afba7cf195c1bb540126021d30 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_d70a4731b6101d028aafc13796a0b1db.setIcon(icon_d02fb1afba7cf195c1bb540126021d30);
        
    
        var popup_fb340a7f7d82bc8effa3e071327fb93a = L.popup({"maxWidth": 300});

        
            var html_f2aaabc5e10e1935efdd54c9f7527daf = $(`<div id="html_f2aaabc5e10e1935efdd54c9f7527daf" style="width: 100.0%; height: 100.0%;"><a target="_blank" href="http://www.google.com/search?q=Philadelphia+Acadia">Acadia</a><br> Similarity: 0.96</div>`)[0];
            popup_fb340a7f7d82bc8effa3e071327fb93a.setContent(html_f2aaabc5e10e1935efdd54c9f7527daf);
        

        marker_d70a4731b6101d028aafc13796a0b1db.bindPopup(popup_fb340a7f7d82bc8effa3e071327fb93a)
        ;

        
    
    
            var marker_30beb316238e4436bf4efde40d6cbe68 = L.marker(
                [39.955757, -75.181993],
                {}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var icon_af4453f3e3ab0de732167629f94650aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_30beb316238e4436bf4efde40d6cbe68.setIcon(icon_af4453f3e3ab0de732167629f94650aa);
        
    
        var popup_8927bbf27be915691f9d3992e8f72f9a = L.popup({"maxWidth": 300});

        
            var html_5383eb6921135da2df377a7c6d02e87f = $(`<div id="html_5383eb6921135da2df377a7c6d02e87f" style="width: 100.0%; height: 100.0%;"><a target="_blank" href="http://www.google.com/search?q=Philadelphia+30th+Street+Station">30th Street Station</a><br> Similarity: 0.96</div>`)[0];
            popup_8927bbf27be915691f9d3992e8f72f9a.setContent(html_5383eb6921135da2df377a7c6d02e87f);
        

        marker_30beb316238e4436bf4efde40d6cbe68.bindPopup(popup_8927bbf27be915691f9d3992e8f72f9a)
        ;

        
    
    
            var marker_d8a5af6ce2bcb776a4ce316b11a8bf4e = L.marker(
                [39.9518941, -75.1769506],
                {}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var icon_41871a1e2f4d968e367ad95c705f0403 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_d8a5af6ce2bcb776a4ce316b11a8bf4e.setIcon(icon_41871a1e2f4d968e367ad95c705f0403);
        
    
        var popup_1bc742c4427829f2e7c15ea3a056fe3d = L.popup({"maxWidth": 300});

        
            var html_8400beb64ee7ed804158e292b6222d1f = $(`<div id="html_8400beb64ee7ed804158e292b6222d1f" style="width: 100.0%; height: 100.0%;"><a target="_blank" href="http://www.google.com/search?q=Philadelphia+Mirror+&+Mantel">Mirror & Mantel</a><br> Similarity: 0.96</div>`)[0];
            popup_1bc742c4427829f2e7c15ea3a056fe3d.setContent(html_8400beb64ee7ed804158e292b6222d1f);
        

        marker_d8a5af6ce2bcb776a4ce316b11a8bf4e.bindPopup(popup_1bc742c4427829f2e7c15ea3a056fe3d)
        ;

        
    
    
            var marker_44f3ce2c85d23657dd6949c264438e7d = L.marker(
                [39.968877, -75.133443],
                {}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var icon_f26a040c7ee9bb128b60f4864a60911b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_44f3ce2c85d23657dd6949c264438e7d.setIcon(icon_f26a040c7ee9bb128b60f4864a60911b);
        
    
        var popup_3b8c2523ded9702709a6c1067efd3847 = L.popup({"maxWidth": 300});

        
            var html_51da6813d972436965e67a7b5d74d18b = $(`<div id="html_51da6813d972436965e67a7b5d74d18b" style="width: 100.0%; height: 100.0%;"><a target="_blank" href="http://www.google.com/search?q=Philadelphia+East+Girard+Gastropub">East Girard Gastropub</a><br> Similarity: 0.96</div>`)[0];
            popup_3b8c2523ded9702709a6c1067efd3847.setContent(html_51da6813d972436965e67a7b5d74d18b);
        

        marker_44f3ce2c85d23657dd6949c264438e7d.bindPopup(popup_3b8c2523ded9702709a6c1067efd3847)
        ;

        
    
    
            var marker_dccd468bbe58ff84de093c8dbeea5b02 = L.marker(
                [40.0255207, -75.2232588],
                {}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var icon_05e468e10401536c59ecb7a754a84e7b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_dccd468bbe58ff84de093c8dbeea5b02.setIcon(icon_05e468e10401536c59ecb7a754a84e7b);
        
    
        var popup_3caa06fd34f78e4b162f84b3a39d3b4b = L.popup({"maxWidth": 300});

        
            var html_dd83bb6629880bca293643ae8950ef02 = $(`<div id="html_dd83bb6629880bca293643ae8950ef02" style="width: 100.0%; height: 100.0%;"><a target="_blank" href="http://www.google.com/search?q=Philadelphia+Il+Tartufo">Il Tartufo</a><br> Similarity: 0.96</div>`)[0];
            popup_3caa06fd34f78e4b162f84b3a39d3b4b.setContent(html_dd83bb6629880bca293643ae8950ef02);
        

        marker_dccd468bbe58ff84de093c8dbeea5b02.bindPopup(popup_3caa06fd34f78e4b162f84b3a39d3b4b)
        ;

        
    
    
            var marker_87e82cd2aafc53a678a63ec22d9327d8 = L.marker(
                [39.9439859, -75.167449],
                {}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var icon_3fba0191fd4c2434cfe7dbe689e092d7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_87e82cd2aafc53a678a63ec22d9327d8.setIcon(icon_3fba0191fd4c2434cfe7dbe689e092d7);
        
    
        var popup_77bc5d02df5c54710e2e1c1d2ddf66dd = L.popup({"maxWidth": 300});

        
            var html_66130ec6c36afa72bc52af8c796f6d60 = $(`<div id="html_66130ec6c36afa72bc52af8c796f6d60" style="width: 100.0%; height: 100.0%;"><a target="_blank" href="http://www.google.com/search?q=Philadelphia+Mom+Mom's+Kitchen+and+Polish+Food+Cart">Mom Mom's Kitchen and Polish Food Cart</a><br> Similarity: 0.96</div>`)[0];
            popup_77bc5d02df5c54710e2e1c1d2ddf66dd.setContent(html_66130ec6c36afa72bc52af8c796f6d60);
        

        marker_87e82cd2aafc53a678a63ec22d9327d8.bindPopup(popup_77bc5d02df5c54710e2e1c1d2ddf66dd)
        ;

        
    
    
            var marker_9c0dc1abab503f739a1914b62e7562ea = L.marker(
                [40.0351293, -75.030471],
                {}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var icon_f984c5c761931fda829ae33d798167a7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "darkred", "prefix": "fa"}
            );
            marker_9c0dc1abab503f739a1914b62e7562ea.setIcon(icon_f984c5c761931fda829ae33d798167a7);
        
    
        var popup_2ca375e6578412ba2c2a4c56c292e197 = L.popup({"maxWidth": 300});

        
            var html_19d78a778ea98b0af9475fee968b21f2 = $(`<div id="html_19d78a778ea98b0af9475fee968b21f2" style="width: 100.0%; height: 100.0%;"><a target="_blank" href="http://www.google.com/search?q=Philadelphia+Sheffield+Tavern">Sheffield Tavern</a><br> Similarity: 0.96</div>`)[0];
            popup_2ca375e6578412ba2c2a4c56c292e197.setContent(html_19d78a778ea98b0af9475fee968b21f2);
        

        marker_9c0dc1abab503f739a1914b62e7562ea.bindPopup(popup_2ca375e6578412ba2c2a4c56c292e197)
        ;

        
    
    
            var marker_21778b61788479f89449c28e3fc2ca33 = L.marker(
                [39.9491724, -75.1707273],
                {}
            ).addTo(map_cfd1fc4e0701212ceccf4915b87fc4d4);
        
    
            var icon_c7fbc8765b8eb7ba0d234d2c0b303325 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cutlery", "iconColor": "white", "markerColor": "blue", "prefix": "fa"}
            );
            marker_21778b61788479f89449c28e3fc2ca33.setIcon(icon_c7fbc8765b8eb7ba0d234d2c0b303325);
        
    
        var popup_0ca4d0e55bf813141be23db067779b11 = L.popup({"maxWidth": 300});

        
            var html_a947c861401ba1d3251694cb3a53e3cb = $(`<div id="html_a947c861401ba1d3251694cb3a53e3cb" style="width: 100.0%; height: 100.0%;"><a target="_blank" href="http://www.google.com/search?q=Philadelphia+Parc">Parc</a><br> Similarity: 1.0</div>`)[0];
            popup_0ca4d0e55bf813141be23db067779b11.setContent(html_a947c861401ba1d3251694cb3a53e3cb);
        

        marker_21778b61788479f89449c28e3fc2ca33.bindPopup(popup_0ca4d0e55bf813141be23db067779b11)
        ;

        
    
</script>